In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import joblib

In [2]:
# Load test data features csv
test_data_features = pd.read_csv("student_data/test_data_features.csv")
test_data_features.head()

,specialty,sex,under_18,famsize,Mjob,Fjob,reason,socialcohabitation,traveltime,studytime,...,selfpayfees,activities,catch-up,internet,romantic,famrel,freetime,goout,health,absences
0,MI,M,U18,GT3,unemployed,Contractor,home,guardian,2,1,...,no,yes,no,yes,no,4,5,1,3,2
1,MA,M,GE18,LE3,Unemployed,Civil_Servant,other,alone,3,1,...,yes,yes,no,yes,yes,4,3,3,3,3
2,MI,M,GE18,LE3,unemployed,Civil_Servant,course,guardian,1,2,...,no,no,yes,yes,yes,4,3,3,5,8
3,IN,F,U18,GT3,unemployed,Contractor,other,guardian,1,2,...,yes,yes,yes,yes,yes,5,3,4,2,8
4,MA,M,GE18,LE3,civil_Servant,Civil_Servant,course,alone,1,2,...,yes,no,yes,no,no,5,5,4,4,11

In [3]:
# load the model and encoders
model, encoders = joblib.load("student_model.pkl")

# Encode the categoricals variable using the encoder object
categorical_cols = ["under_18", "famsize", "schoolsup", "selfpayfees", "activities", "catch-up", "internet", "romantic", "specialty", "sex", "Mjob", "Fjob", "reason", "socialcohabitation"]

for i, encoder in enumerate(encoders):
    col = categorical_cols[i]
    test_data_features[col] = encoder.transform(test_data_features[col])

test_data_features.head()

,specialty,sex,under_18,famsize,Mjob,Fjob,reason,socialcohabitation,traveltime,studytime,...,selfpayfees,activities,catch-up,internet,romantic,famrel,freetime,goout,health,absences
0,2,1,1,0,3,1,1,1,2,1,...,0,1,0,1,0,4,5,1,3,2
1,1,1,0,1,0,0,2,0,3,1,...,1,1,0,1,1,4,3,3,3,3
2,2,1,0,1,3,0,0,1,1,2,...,0,0,1,1,1,4,3,3,5,8
3,0,0,1,0,3,1,2,1,1,2,...,1,1,1,1,1,5,3,4,2,8
4,1,1,0,1,1,0,0,0,1,2,...,1,0,1,0,0,5,5,4,4,11

In [4]:
predictions = model.predict(test_data_features.values)

In [5]:
list_students = []
for i in range(len(predictions)):
    list_students.append("Student1" + str(i+1))

['Person1', 'Person2', 'Person3', 'Person4', 'Person5', 'Person6', 'Person7', 'Person8', 'Person9', 'Person10', 'Person11', 'Person12', 'Person13', 'Person14', 'Person15', 'Person16', 'Person17', 'Person18', 'Person19', 'Person20', 'Person21', 'Person22', 'Person23', 'Person24', 'Person25', 'Person26', 'Person27', 'Person28', 'Person29', 'Person30', 'Person31', 'Person32', 'Person33', 'Person34', 'Person35', 'Person36', 'Person37', 'Person38', 'Person39', 'Person40']

In [10]:
output_df = pd.DataFrame({"Student": list_students, "Prediction": predictions})
output_df["Status"] = np.where(output_df["Prediction"] == 1, "pass", "fail")
output_df.head()

   Student  Prediction Status
0  Person1           1   pass
1  Person2           1   pass
2  Person3           1   pass
3  Person4           1   pass
4  Person5           1   pass